*{
  box-sizing: border-box;
}

body{
  color:red;
  background-color: Navy;
  font-family: 'Oswald', sans-serif;
}
h1{
  color:blue
}
h3.links {
  color:brown
}
h3{
  color:yellow
}
footer{
  color:orange
}
img {
  border: 2px dashed red;
  background-color: blue;
  margin: 2rem;
  padding: 0.5rem;
}
img.water {
  border: 2px dashed blue
}
img.people{
  border: 2px dashed yellow;
  padding:0.5rem;
}
img.code{
  border: 2px dashed green;
  padding: 0.5rem;
}
header{
  width: 40rem;
}
li {
  width: 40rem;
}
nav{
  border: 2px dashed green
}
a {
  color: crimson
}
a.nav-highlight {
  color: Gold
}
.flexbox-container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60rem;
  height: 10rem;
}
